<h2>Sales Persons</h2>

<table class="steelBlueCols">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
            <th>Sales Volume</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of salesPersonList">
            <td>{{person.firstName}}</td>
            <td>{{person.lastname}}</td>
            <td><a href="mailto:{{person.eMail}}">{{person.eMail}}</a></td>
            <td>{{person.saleVolume}}</td>
        </tr>
    </tbody>
</table>